[project]
	description = Code, exercises, answers, and hints to go along with the book 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vasyl Shevchyk (vasilshevchick)
[access "refs/for/refs/*"]
	read = group user/Vasyl Shevchyk (vasilshevchick)
	push = group user/Vasyl Shevchyk (vasilshevchick)
	label-Code-Review = -2..+2 group user/Vasyl Shevchyk (vasilshevchick)
	label-Verified = -1..+1 group user/Vasyl Shevchyk (vasilshevchick)
	rebase = group user/Vasyl Shevchyk (vasilshevchick)
	removeReviewer = group user/Vasyl Shevchyk (vasilshevchick)
	submit = group user/Vasyl Shevchyk (vasilshevchick)
[access "refs/heads/*"]
	read = group user/Vasyl Shevchyk (vasilshevchick)
	create = group user/Vasyl Shevchyk (vasilshevchick)
	push = +force group user/Vasyl Shevchyk (vasilshevchick)
	pushMerge = group user/Vasyl Shevchyk (vasilshevchick)
[access "refs/tags/*"]
	push = +force group user/Vasyl Shevchyk (vasilshevchick)
	pushTag = group user/Vasyl Shevchyk (vasilshevchick)
	pushSignedTag = group user/Vasyl Shevchyk (vasilshevchick)
